#.gitignore
# Created Tue 19 Nov 2019 06:23:08 PM AKST
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore
#
.adobe
.bash_history
.bash_logout
.cache
.config/
.dmrc
.emacs.d/
.gitignore
.gnome/
.gnupg/
.ICEauthority
.imapfilter/
.lesshst
.local/
.mozilla/
.pki/
.recently-used
.scribus/
.ssh/
.texlive2018/
.wallpaper
.wget-hsts
.wine/
.Xauthority
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xournal/
.xsession-errors
.xsession-errors.old
bin/
cruft/
Documents/
Downloads/
git/
Music/
Pictures/
